.card.coverage {

	.media.mediaTitle {

		&:nth-child(1) {margin-top: 0;} 
		&:nth-last-child(1) {margin-bottom: 0;}
	}


	@include tiny {
		
	}
	@include mobile {
		
	}
	@include narrow {
		
	}
	@include wide {
		
	}
	@include wider {
		
	}
	@include widest {
		/*display: none;*/
		/*padding-left: gutter(13);
		padding-right: gutter(13);
		clear: left;
		float: none;*/ 
		/*border-top: none;*/
	}
	@include full {
		/*display: none;*/
		/*@include span(isolate 12 at 4 of 18);*/
	}

	.card {
		
		&__header { 
			@include span(full);
			float: none; 
		}	
		&__body { 
			@include span(full);
			float: none; 
		}
		&__footer { 
			display:none;
			@include span(full);
			float: none;
		}
	
		@include tiny   {  }
		@include mobile {  }
		@include narrow {  }
		@include wide   {  }
		@include wider  {  
			&__header { 
				@include span(full);
				float: none; 
				/*@include span(first 3 of 12); */
			}	
			&__body { 
				@include span(last 9 of 12); 
				float: right;  
			}
			&__footer { 
				@include span(last 9 of 12); 
				clear: right; 
				float: right; 
			}
		}
		@include widest	{ 
			&__header { 
				@include span(full);
				float: none; 
				/*@include span(first 3 of 12); */ 
			}	
			&__body { 
				@include span(last 9 of 12); 
				float: right;  
			}
			&__footer { 
				@include span(last 9 of 12); 
				clear: right; 
				float: right; 
			}	
		} 
		@include full	{ 

			&__header { 
				@include span(full);
				float: none; 
				/*@include span(first 3 of 12); */
			}	
			&__body { 
				@include span(last 9 of 12); 
				float: right;  
			}
			&__footer { 
				@include span(last 9 of 12); 
				clear: right; 
				float: right; 
			}
		} 
	}
}