.card.events {

	@include tiny   { > .card__header { display: none; } }
	@include mobile { > .card__header { display: none; } }
	@include narrow { > .card__header { display: none; } }
	@include wide   { > .card__header { display: none; } }

	@include wider  {  
		> .card__header { 
			@include span(first 3 of 12);
			/*float: left; */
		}	
		> .card__body { 
			@include span(last 9 of 12); 
			float: right;  
		}
		> .card__footer { 
			@include span(last 9 of 12); 
			clear: right; 
			float: right; 
		}
	}

	@include widest	{ 
		/*@include card-layout-vert; */
		> .card__header { 
			@include span(first 3 of 12);
			/*float: left; */
		}	
		> .card__body { 
			@include span(last 9 of 12); 
			float: right;  
		}
		> .card__footer { 
			@include span(last 9 of 12); 
			clear: right; 
			float: right; 
		} 
		/*float: none;*/
	} 

	@include full	{ 

		> .card__header { 
			@include span(first 3 of 18);
		}	
		> .card__body { 
			@include span(last 12 of 18); 
			float: right;  
		}
		> .card__footer { 
			@include span(last 12 of 18); 
			clear: right; 
			float: right; 
		}

		/* shamefull styling for fullpage events pager */
		> .card__footer { border: none; }
		> .card__footer > .focus__block--onfull {padding: 0 gutter(12)*0.25 0 gutter(12)*0.25; } 
	} 
}

.card.event-teaser {
	/*@include widest	{ @include card-type-12col; }
	@include full { @include card-type-12col; }*/

	&:nth-child(1) {border-top: none;} 

	/*@include tiny 	{ padding: 0 gutter(12)*0.25 0 gutter(12)*0.75; }
	@include mobile { padding: 0 gutter(12)*0.25 0 gutter(12)*0.75; }
	@include narrow { padding: 0 gutter(12)*0.25 0 gutter(12)*0.75; }
	@include wide 	{ padding: 0 gutter(9)*0.25 0 gutter(9)*0.75; }
	@include wider 	{ padding: 0 gutter(9)*0.25 0 gutter(9)*0.75; }
	@include widest { padding: 0 gutter(9)*0.25 0 gutter(9)*0.75; }*/
	@include full 	{ 
		padding:  0 gutter(12)*0.25 0 gutter(12)*0.75;
		margin-bottom: gutter(12)*.75;
		&:nth-child(1) {margin-top: gutter(12)} 
		border: none;
	}

	.card__slide	{

		/*overflow: visible;*/ /* so slideshow works with varying height slides */

		@include tiny   { width: 100% }
		@include mobile { width: 100% }
		@include narrow { width: span(8 of 12); }
		@include wide   { width: span(6 of 9); }
		@include wider  { width: span(6 of 9); }
		@include widest	{ width: span(6 of 9); }
		@include full	{ width: span(6 of 12); }
	}

	.card__body {
		@include full { width: span(9 of 12); }
	}
}

.card.event {
	/*@include widest	{ @include card-type-12col; }
	@include full { @include card-type-12col; }*/

	@include wider 	{ border-top: none; }
	@include widest { border-top: none; }
	@include full 	{ border-top: none; }

	.card__slide	{

		/*overflow: visible;*/ /* so slideshow works with varying height slides */

		@include tiny   { width: 100% }
		@include mobile { width: 100% }
		@include narrow { width: span(8 of 12); }
		@include wide   { width: span(6 of 9); }
		@include wider  { width: span(6 of 9); }
		@include widest	{ width: span(6 of 9); }
		@include full	{ width: span(6 of 12); }
	}

	.card__body {
		@include full { width: span(9 of 12); }
	}
}