.card.event-details-wrapper {

	@include tiny   { > .card__header { display: none; } }
	@include mobile { > .card__header { display: none; } }
	@include narrow { > .card__header { display: none; } }
	@include wide   { > .card__header { display: none; } }

	@include wider  {  
		> .card__header { 
			@include span(first 3 of 12);
			/*float: left; */
		}	
		> .card__body { 
			@include span(last 9 of 12); 
			float: right;  
		}
		> .card__footer { 
			@include span(last 9 of 12); 
			clear: right; 
			float: right; 
		}
	}

	@include widest	{ 
		/*@include card-layout-vert; */
		> .card__header { 
			@include span(first 3 of 12);
			/*float: left; */
		}	
		> .card__body { 
			@include span(last 9 of 12); 
			float: right;  
		}
		> .card__footer { 
			@include span(last 9 of 12); 
			clear: right; 
			float: right; 
		} 
		/*float: none;*/
	} 

	@include full	{ 

		> .card__header { 
			@include span(first 3 of 12);
		}	
		> .card__body { 
			@include span(last 9 of 12); 
			float: right;  
		}
		> .card__footer { 
			@include span(last 9 of 12); 
			clear: right; 
			float: right; 
		} 
	} 
}

.card.event-details {
	/*@include widest	{ @include card-type-12col; }
	@include full { @include card-type-12col; }*/

	@include wider 	{ border-top: none; }
	@include widest { border-top: none; }
	@include full 	{ border-top: none; }

	.card__slide	{

		/*overflow: visible;*/ /* so slideshow works with varying height slides */

		width: 100% ;

		/*
		@include tiny   { width: 100% }
		@include mobile { width: 100% }
		@include narrow { width: span(8 of 12); }
		@include wide   { width: span(6 of 9); }
		@include wider  { width: span(6 of 9); }
		@include widest	{ width: span(6 of 9); }*/
		@include full	{ width: span(6 of 9); }
		
	}

	.card__body {
		/*@include full { width: span(9 of 12); }*/
	}
}