/* ==================================================================
 *
 * Factsheet Component (Block view)
 *
 * LAYOUT:
 *
 * factsheet--header
 * factsheet--header-left
 * factsheet--header-right
 * factsheet--gallery
 * factsheet--gallery-list (ul)
 * factsheet--gallery-item (li)
 *
 * CONTENT:
 *
 * factsheet--title (h2)
 *
 *
===================================================================== */

/* ==================================================================
## Config
===================================================================== */




/* ==================================================================
## Layout
===================================================================== */

.card.factsheet {

	/* position card */
	@include tiny   {  }
	@include mobile {  }
	@include narrow {  }
	@include wide   {  }
	@include wider  {  }
	@include widest { 

		/*padding-left: gutter(13);
		padding-right: gutter(13);
		clear: left;
		float: none;*/
	}
	@include full   { 

		/*@include span(isolate 12 at 4 of 18);*/
	}

	> .card {

		@include tiny   { 
			&__header { display: none; } 
		}
		@include mobile { 
			&__header { display: none; } 
		}
		@include narrow { 
			&__header { display: none; } 
		}
		@include wide   { 
			&__header { display: none; } 
		}
		@include wider  { 

			&__header { 
				@include span(first 3 of 12); 
			}	
			&__body { 
				@include span(last 9 of 12); float: right;  
			}
			&__footer { 
				@include span(last 9 of 12); float: right; 
			}
		}
		@include widest	{ 

			&__header { 
				@include span(first 3 of 12); 
			}	
			&__body { 
				@include span(last 9 of 12); float: right;  
			}
			&__footer { 
				@include span(last 9 of 12); float: right; 
			}
		}
		@include full {

			&__header { 
				@include span(first 3 of 12); 
			}	
			&__body { 
				@include span(last 9 of 12); float: right;  
			}
			&__footer { 
				@include span(last 9 of 12); float: right; 
			}
		}
	}
}

.card.facts {

	> .card {

		&__header {  }	
		&__body {  }
	}
}

/* ==================================================================
## Theme
===================================================================== */



