/* ==================================================================
 *
 * Customize Select Drop down Base Style
 *
 * Perhaps this should be moved to _base.scss
 *
===================================================================== */



/*.custom-dropdown--large {
	font-size: 1.5em;
}

.custom-dropdown--small {
	font-size: .7em;
}*/

/*.custom-dropdown__select{ 
	margin: 0; 
}

.custom-dropdown__select--white {
	background-color: #fff;
	color: #333;    
}

.custom-dropdown__select--white:hover {
	background-color: #e9e9e9;
}*/

.custom-dropdown > select {
	/*font-size: .95rem;*/ /*$base-h4-font-size;*/
	font-size: inherit; /*$h5-font-size;*/
	text-transform: uppercase;
	color: white; 
	background: #444;
	height: 1.25rem;
    padding: 0 5px;
}

.custom-dropdown__select > option{
	/*font-size: 1em;*/
	/*background-color: #fff;*/
	color: inherit;  
}

@supports (pointer-events: none) and
	  ((-webkit-appearance: none) or
	  (-moz-appearance: none) or
	  (appearance: none)) {

	.custom-dropdown {
		position: relative;
		display: inline-block;
		vertical-align: middle;

		 /*max-width: 90%; 
	     overflow: hidden; 
	     text-overflow: ellipsis; 
	     white-space: nowrap; */
	}

	.custom-dropdown__select {
		/*padding-right: 1em;*/
		/*padding-left: 1em;*/ /*padding-left: 3.5em;*/ /* accommodate with the pseudo elements for the dropdown arrow */
		/*margin-left: $base-button-spacing;*/
		border: 0;
		border-radius: 3px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;   
		outline: none; 
	}

	.custom-dropdown::before,
	.custom-dropdown::after {
		content: "";
		position: absolute;
		pointer-events: none;
	}

	.custom-dropdown::after { /*  Custom dropdown arrow */
		/*content: "\25BC";
		height: 1em;
		font-size: .625em;
		line-height: 1;
		right: 1.2em;
		top: 50%; 
		margin-top: -.5em;*/
	}

	.custom-dropdown::before { /*  Custom dropdown arrow cover */
		/*width: 2em;
		height: 30px;
		right: 0; top: .5em; bottom: 0;
		border-radius: 0 3px 3px 0;*/
	}

	.custom-dropdown__select[disabled] {
		color: rgba(0,0,0,.3);
	}

	.custom-dropdown.custom-dropdown--disabled::after {
		color: rgba(0,0,0,.1);
	}

	/* White dropdown style */
	.custom-dropdown--white {
		/*background: #f5f5f5;*/
	}

	.custom-dropdown--white::before {
		/*background-color: #555;
		border-left: 1px solid rgba(0,0,0,.1);*/
	}

	.custom-dropdown--white::after {
		/*color: rgba(0,0,0,.9);*/
	}

	/* FF only temp fix */
	@-moz-document url-prefix() {
		.custom-dropdown__select 			 { padding-right: .9em }
		.custom-dropdown--large .custom-dropdown__select { padding-right: 1.3em }
		.custom-dropdown--small .custom-dropdown__select { padding-right: .5em }
	}
}

