.expandable {

	/* Dropdown */

	/* hide checkbox */
	input[type='checkbox'] {
	 	display: none; 
	}
	
	input[type='checkbox'] ~ label:hover i{
		color: $openorange-color;
	}

	.expandable-body {
		/*transition: max-height 1.5s;*/
	}

	input[type='checkbox'] ~ .expandable-body {
		display: none;
	}

	input[type='checkbox']:checked ~ .expandable-body {
		display: block;
	}

	input[type='checkbox'] ~ label .unchecked {
		display: inline-block;
	}
	input[type='checkbox'] ~ label .checked {
		display: none;
	}
	input[type='checkbox']:checked ~ label .checked {
		display: inline-block;
	}
	input[type='checkbox']:checked ~ label .unchecked {
		display: none;
	}
	
}

@include ie-10-11-only {

	.expandable-head {

		/* with ie link doesn't work and gets in the way of label the real target */
		.icon--expand {
			pointer-events: none;
		}
	}
}