/* ==================================================================
 *
 * Facts
 *
 *
===================================================================== */

/* ==================================================================
## Config
===================================================================== */

$fact-font-size: 				0.8em;
$fact-line-height: 				1.4; 
$fact-spacing:					1.3em;  /* magic number */
/*$fact-font-color: 			$base-font-color;*/

/* ==================================================================
## Layout
===================================================================== */

.facts{

	font-size:					$fact-font-size;

	&__fact{

	}

	&__fact--multiline{

		margin-top: 			$fact-spacing;
	}

	li {

		/* override global li line height */
		line-height: 			$fact-line-height;
	}

}

