/* views-view--task-slideshow.html.twig */
.card {}
	.card__media.slideshow {}

		/* flexslider-views-style.html.twig */
		div {}

			/* flexslider.html.twig */
			.flexslider {}

				/* flexslider-list.html.twig */
				.flex-viewport {}
					ul.slides {} 

						/* flexslider-list-item.html.twig */
						li {} 

							/* views-view-fields--task-slideshow.html.twig */
							.slide {}
								.slide__image {}
									picture {}

.flexslider {
	border: none;
	background: none;
}

/*.flexslider .slides > li {
    width: auto !important;
}

.flexslider img {
    width: auto !important;
    height: inherit;
    max-width: 100%;
     max-height: 100%; 
}*/

.flex-direction-nav {

	@include tiny 	{ display: none; }
	@include mobile { display: none; }
	@include narrow { display: none; }
}



.flex-direction-nav a {

	width: 35px  !important;
    height: 35px  !important;

	@include narrow {}
	@include wide 	{}
	@include wider 	{}
	@include widest {}
	@include full 	{}
}

.flex-direction-nav .flex-prev { left: 2.0rem !important; }
.flex-direction-nav .flex-next { right: 2.0rem !important; }

.flex-direction-nav a:before {
	font-size: 35px !important;
}

.flex-direction-nav a:before  { 
    /*content: " ";
    display: block;
    background: url('../path-to-image/flexslider-left.png') no-repeat;
    width: 30px;
    height: 30px;*/
}
.flex-direction-nav a.flex-next:before  { 
    /*content: " ";
    display: block;
    background: url('../path-to-image/flexslider-right.png') no-repeat;
    width: 30px;
    height: 30px;*/
}