/* ==================================================================
 *
 * Gallery
 *
===================================================================== */

/* =======================================================================
## ++  old
========================================================================== */

@mixin gallery-list {
  
    @include layout((
        gutter-position: before,
        columns: 4,
        gutters: 3/16,
        global-box-sizing: border-box
    ));

}

@mixin gallery-list-item {

    @include gallery(2 of 4);
    margin-bottom: gutter(4);
}

/* =======================================================================
## ++  new
========================================================================== */

@mixin gallery-container {

    @include layout((
        gutter-position: before,
        columns: 12,
        gutters: 1, 
        global-box-sizing: border-box
    ));

    /*margin-top: gutter(12);*/
}

@mixin gallery-item-1-col {

    @include gallery(12 of 12);
    margin-bottom: gutter(12);
}

@mixin gallery-item-2-col {

    @include gallery(6 of 12);
    margin-bottom: gutter(12);
}

@mixin gallery-item-3-col {

    @include gallery(4 of 12);
    margin-bottom: gutter(12);
}

@mixin gallery-item-4-col {

    @include gallery(3 of 12);
    margin-bottom: gutter(12);
}

@mixin gallery-item-6-col {

    @include gallery(2 of 12);
    margin-bottom: gutter(12);
}

/* =======================================================================
## ++ Gallery
========================================================================== */

/*@mixin gallery-list{

    @include clearfix;
    @include layout((
        gutter-position: before,
        columns: 4,
        gutters: 3/16,
        global-box-sizing: border-box
    ));

}

@mixin gallery-list-item{

    @include gallery(2 of 4);
    margin-bottom: gutter(4);
}*/

.gallery {

	&__container { /*ul*/

		@include gallery-container;

	}

		&__item { /*li*/

			@include tiny{		@include gallery-item-2-col;	}
			@include mobile{	@include gallery-item-2-col;	}
			@include narrow{	@include gallery-item-3-col;	}


			@include wide{		
				/*@include gallery-item-3-col;*/
				@include with-layout(9 1) { 
					@include gallery(3 of 9);
    				margin-bottom: gutter(9);
				}	
			}


			@include wider{		@include gallery-item-3-col;	}
			@include widest{	@include gallery-item-6-col;	}	
			@include full{	@include gallery-item-6-col;	}	
		}

}

/* ==================================================================
 *
 * Relations Gallery
 *
===================================================================== */

.galleryRelations.gallery {

	.gallery {

		&__container {

			/* overrides */
		}

			&__item {

				/* overrides */
				@include tiny{ 

					@include gallery-item-1-col;
					clear: left !important;
				}
				@include mobile{ 

					@include gallery-item-1-col;
					clear: left !important;
				}
				@include narrow	{ 

					@include gallery-item-1-col;
					clear: left !important;
				}
				@include wide	{ 

					@include gallery-item-1-col;
					clear: left !important;
				}
				@include wider	{ 

					@include gallery-item-1-col;
					clear: left !important;
				}
				@include widest	{ 

					@include gallery-item-1-col;
					clear: left !important;
				}
				@include full	{ 

					@include gallery-item-1-col;
					clear: left !important;
				}
					
			}

			/*&__item:last-child {
				margin-bottom: 0;
			}*/

			/* all elements in last row */
			/*&__item:nth-child(Xn+1):nth-last-child(-n+X),
				&__item:nth-child(Xn+1):nth-last-child(-n+X) ~ li {
			    	margin-bottom: 0;
			}*/

			&__item--alt{

				/* overrides */
				@include wider	{ 

					@include gallery-item-2-col;
					/*margin: 0;
					width: 100%;
					float: none; */
					/*margin-bottom: gutter(12);*/
				}

				@include widest	{ 

					/*clear susy*/
					/*margin: 0;
					width: 100%;
					float: none; */
					@include gallery-item-3-col;
				}

				@include full	{ 

					/*clear susy*/
					/*margin: 0;
					width: 100%;
					float: none; */
					@include gallery-item-3-col;
				}
					
			}
	}


	
}

/* ==================================================================
 *
 * Ideas/pre-open Gallery
 *
===================================================================== */

.gallery--ideas.gallery {

	.gallery {

		&__container{

			/* overrides */
		}

			&__item{

				/* overrides */
				@include wider	{ 

					@include gallery-item-1-col;
					clear: left !important;
				}
				@include widest	{ 

					/*height: span(3 of 9);*/
					@include gallery-item-1-col;
					clear: left !important;
				}
				@include full	{ 

					@include gallery(9 of 18);
					margin-bottom: gutter(18);
				}
					
			}
	}	
}

/* ==================================================================
 *
 * Projects Gallery
 *
===================================================================== */

.gallery--full.gallery {

	.gallery__container{ /*ul*/

		/*margin-top: gutter(12);*/

		/* overrides */
		@include tiny {		margin-top: gutter(12); }
		@include mobile {	margin-top: gutter(12); }
		@include narrow {	margin-top: gutter(12); }
		@include wide { 	margin-top: gutter(9); }
		@include wider { 	margin-top: gutter(12); }
		@include widest { 	margin-top: gutter(12); }
		@include full { 	margin-top: gutter(18); }

	}

	.gallery__item { /*li*/

		@include tiny{		@include gallery-item-2-col;	}
		@include mobile{	@include gallery-item-2-col;	}
		@include narrow{	@include gallery-item-3-col;	}

		@include wide{		
			/*@include gallery-item-3-col;*/
			@include with-layout(9 1) { 
				@include gallery(3 of 9);
				margin-bottom: gutter(9);
			}	
		}

		@include wider{		
			/*@include gallery-item-3-col;*/
			@include with-layout(12 1) { 
				@include gallery(3 of 12);
				margin-bottom: gutter(12);
			}	
		}

		@include widest{	
			@include with-layout(12 1) {
  				/*@include gallery-item-6-col;*/
  				@include gallery(3 of 12);
   				margin-bottom: gutter(12);
			}
		}

		@include full{	
			@include with-layout(18 1) {
  				/*@include gallery-item-6-col;*/
  				@include gallery(3 of 18);
   				margin-bottom: gutter(18);
			}
		}
	}


		.gallery__item > img,
		.gallery__item > .overlay { /*li*/

			/* overrides */
			width:100%;
			height:auto;
		}
	
}

.gallery--videos.gallery {

	.gallery__container{ /*ul*/

		/* overrides */
		@include tiny {		margin-top: gutter(12); }
		@include mobile {	margin-top: gutter(12); }
		@include narrow {	margin-top: gutter(12); }
		@include wide { 	margin-top: gutter(9); }
		@include wider { 	margin-top: gutter(12); }
		@include widest { 	margin-top: gutter(12); }
		@include full { 	margin-top: gutter(18); }

	}

	.gallery__item { /*li*/

		@include tiny{		@include gallery-item-1-col; clear: left !important; margin-bottom: 0;}
		@include mobile{	@include gallery-item-1-col; clear: left !important; margin-bottom: 0;	}
		@include narrow{	@include gallery-item-1-col; clear: left !important; margin-bottom: 0;	}
		@include wide{	@include gallery-item-1-col; clear: left !important; margin-bottom: 0; }

		@include wider{		
			/*@include gallery-item-3-col;*/
			@include with-layout(12 1) { 
				@include gallery(6 of 12);
				/*margin-bottom: gutter(12);*/
				margin-bottom: 0;
			}	
		}

		@include widest{	
			@include with-layout(12 1) {
  				/*@include gallery-item-6-col;*/
  				@include gallery(6 of 12);
   				/*margin-bottom: gutter(12);*/
   				margin-bottom: 0;
			}
		}

		@include full{	
			@include with-layout(18 1) {
  				/*@include gallery-item-6-col;*/
  				@include gallery(6 of 18);
   				/*margin-bottom: gutter(18);*/
   				margin-bottom: 0;
			}
		}
	}

		.gallery__item > img,
		.gallery__item > .overlay { /*li*/

			/* overrides */
			width:100%;
			height:auto;
		}
	
}

.gallery--books.gallery {

	ul {

		@include clearfix;

		/* overrides */
		/*@include tiny {		margin-top: gutter(12); }
		@include mobile {	margin-top: gutter(12); }
		@include narrow {	margin-top: gutter(12); }
		@include wide { 	margin-top: gutter(9); }*/
		/*@include wider { 	margin-top: gutter(12); }
		@include widest { 	margin-top: gutter(12); }
		@include full { 	margin-top: gutter(18); }*/

	}

	li {

		@include tiny{		
			@include gallery-item-1-col; clear: left !important; margin-bottom: 0;
		}

		@include mobile{	
			@include gallery-item-1-col; clear: left !important; margin-bottom: 0;	
		}

		@include narrow{	
			@include with-layout(12 .05) { 
				@include gallery(4 of 12);
				/*margin-bottom: gutter(12);*/
				margin-bottom: 0;
			}
		}

		@include wide{	
			@include with-layout(12 .05) { 
					@include gallery(4 of 12);
					/*margin-bottom: gutter(12);*/
					margin-bottom: 0;
				}
		}

		@include wider{	
			@include with-layout(12 .05) { 
					@include gallery(3 of 12);
					/*margin-bottom: gutter(12);*/
					margin-bottom: 0;
				}
		}

		@include widest{	
			@include with-layout(12 .05) { 
					@include gallery(3 of 12);
					/*margin-bottom: gutter(12);*/
					margin-bottom: 0;
				}
		}

		@include full{	
			@include with-layout(12 .05) { 
					@include gallery(3 of 15);
					/*margin-bottom: gutter(12);*/
					margin-bottom: 0;
				}
		}
	}


		li > img {

			/* overrides */
			width:100%;
			height:auto;
		}
	
}



/*.showable {

	&__contents {

		display: none;
	}

	&__container:hover {

		> &__contents {

			display: initial;
		}
	}
}*/

/* ==================================================================
 *
 * Factsheet Gallery - old
 *
===================================================================== */

/* .factsheet-gallery */
#main-content-facts {

	.factsheet-gallery-container {
	/*.region {*/

		@include gallery-container;

		/*@include layout((
	        gutter-position: before,
	        columns: 12,
	        gutters: 1/4, 
	        global-box-sizing: border-box
	    ));
	    margin-top: gutter(12);*/
	}

		/*li.*//*.factsheet-gallery-item{*/
		.block {

			/*@include gallery-list-item;*/

			@include tiny{		@include gallery-item-1-col; clear: left !important; margin-bottom: 0;}
			@include mobile{	@include gallery-item-1-col; clear: left !important; margin-bottom: 0;}
			@include narrow{	@include gallery-item-3-col;	}
			@include wide{		
				/*@include gallery-item-3-col;*/
				@include with-layout(9 1) { 
					@include gallery(3 of 9);
					margin-bottom: gutter(9);
				}	
			}
			@include wider{		
				/*@include gallery-item-3-col;*/
				@include with-layout(7.5 1) { 
					@include gallery(2.5 of 7.5);
					margin-bottom: gutter(7.5);
				}	
			}
			@include widest{	
				@include with-layout(9 1) {
	  				/*@include gallery-item-6-col;*/
	  				@include gallery(3 of 9);
	   				margin-bottom: gutter(9);
				}
			}
			@include full{	
				@include with-layout(9 1) {
	  				/*@include gallery-item-6-col;*/
	  				@include gallery(3 of 9);
	   				margin-bottom: gutter(9);
				}
			}
		}

}


/* ==================================================================
 *
 * Factsheet Gallery - new
 *
===================================================================== */

.galleryFactsheet.gallery {

	.gallery {

		&__container{


		}

			&__item{

	
			}
	}
	
}