/* ==================================================================
 *
 * menu
 *
 *
 *
===================================================================== */
$menu-bg-color: 				$base-bg-color;
$menu-bg-color-inv: 			$base-bg-color-inv;
$menu-focus-color:				$base-focus-color;
$menu-focus-color-inv:			$base-focus-color-inv;

$menu-top-btn-bg: 				none;
$menu-top-activeparent-bg: 		white; /*$whitesmoke-bg-color;*/
$menu-top-child-bg: 			white; /*$whitesmoke-bg-color;*/ /*$darkgrey-bg-color;*/
$menu-top-activechild-bg: 		white; /*$whitesmoke-bg-color;*/ /*$darkgrey-bg-color;*/
$menu-top-child-color: 			$lighter-font-color-inv;

$menu-row-height: 				$base-row2-height;

.sidebar nav 	{ font-size: 1rem; }
.footer nav 	{ font-size: 1rem; }




.menu {

	font-size: $h4-font-size; 

	@include widest { font-size: $h4-font-size;  }
	@include full { font-size: $h3-font-size; font-weight: bold; }

	pointer-events: visible;

	ul {
		/* */
	}

	.icon--expand-menu {
		/*float: right;*/
		margin-right: gutter(3.5 1) *.5;
	}

	li a {
		display: block;
		white-space: nowrap;
		line-height: 	$menu-row-height;
		height: 		$menu-row-height;
		/*width:100%;*/
		padding-left: 0;

		/*@include full {
			line-height: 	$menu-row-height;
			height: 		$menu-row-height;
		}*/
	}

	/* ie fix j*/
	@include ie-10-11-only {
		li a {
			display: inline-block;
			/*width: 100%;*/
		}
		li>a{
			width: 100%;
		}
	}

	li a:hover {
		background-color: $menu-focus-color;
	}

	/* indent submenu items */
	li ul li a {
		padding-left: gutter(3.5 1);
	}

	

	/*span, a, a:link, a:visited{
		
		color: $menu-font-color;
		text-decoration:none;
	}
	a:hover{
		
	} */

	li a {padding-left: gutter(3.5 1);} 
	li ul li a {padding-left: gutter(3.5 1) *1.5;}
	li ul li ul li a {padding-left: gutter(3.5 1) *2;}

	/*@include full {
		li a {padding-left: gutter(3.5 1) *1.5;} 
		li ul li a {padding-left: gutter(3.5 1) *2;}
		li ul li ul li a {padding-left: gutter(3.5 1) *2.5;}
	}*/

	/*@include tiny   { li a {padding-left: 20px;} li ul li a {padding-left: 30px;} }
	@include mobile { li a {padding-left: 20px;} li ul li a {padding-left: 30px;} }
	@include narrow { li a {padding-left: 20px;} li ul li a {padding-left: 30px;} }
	@include wide   { li a {padding-left: 20px;} li ul li a {padding-left: 30px;} }
	@include wider  { li a {padding-left: 20px;} li ul li a {padding-left: 30px;} }*/

	/* accordion menu */

	/* hide checkbox */
	ul li input[type='checkbox'] {
	 	display: none; 
	}

	ul li label {
		display: block;
		line-height: 	$menu-row-height;
		height: 		$menu-row-height;
		cursor: pointer;

		/*@include full {
			line-height: 	$menu-row-height;
			height: 		$menu-row-height;
		}*/
	}

	/*li > .is-active,*/
	ul li label:hover {	
		background-color: $menu-focus-color;
	}

	ul li label > a {
		pointer-events: none; /* disable link */
		display: initial;
		line-height: 	$menu-row-height;
		height: 		$menu-row-height;

		/*@include full {
			line-height: 	$menu-row-height;
		}*/
			height: 		$menu-row-height;
	}

	ul li input[type='checkbox'] ~ ul {
		height: 0;
		display: block;
		overflow: hidden;
	}

	ul li input[type='checkbox']:checked ~ ul {
		height: auto;
		display:block;
		/*min-height:40px;
		max-height:400px;*/
	}

	ul li input[type='checkbox'] ~ label .unchecked {
		display: inline-block;
	}
	ul li input[type='checkbox'] ~ label .checked {
		display: none;
	}
	ul li input[type='checkbox']:checked ~ label .checked {
		display: inline-block;
	}
	ul li input[type='checkbox']:checked ~ label .unchecked {
		display: none;
	}

	.is-active {}
}

.sidebar .menu {

	/* borders */
	li {
		border-bottom: 1px solid $sidebar-hbd-color;
		&:nth-child(1) {
			border-top: 1px solid $sidebar-hbd-color;
		}
	}
	li ul li {
		border-bottom: none;
		border-top: 1px solid $sidebar-hbd-color;
	}
	li > .is-active {
		/*background-color: $menu-focus-color;*/
		color: $link-hover-color;
	}
}


.main-header {

	&__center {
	
	font-size: $h3-font-size; /*.75em;*/
	font-weight: bold;

	@include widest { font-size: $h4-font-size;  }
	@include full { font-weight: bold; }
	

	/*.menu {*/

		ul {
			/* */
		}

		ul li {
			/*position: relative;*/
			float: left;
		}

		/* primary menu links */
		li a {
			display: 			block;
			line-height: 		inherit;
			height: 			inherit;
			white-space: 		nowrap;
			background-color: 	$menu-top-btn-bg;
		}

		/* secondary menu links */
		li ul li a {
			line-height: 		1.5;
			height: 			3.33rem;
		}

		li a:hover {
			background-color: white; /*$menu-top-activeparent-bg;*/
		}

		li > .is-active {
			color: $link-hover-color;
		}

		li ul li a:hover {
			background-color: 	$menu-top-activechild-bg; /*$menu-bg-color;*/
		}

		/* indent submenu items  */ /*<-----*/
		li a,
		li ul li a,
		li ul li ul li a {
			padding: 0 .8rem;
			@include full {
				padding: 0 1rem;
			}
		}

		/* Dropdown */

		/* hide checkbox */
		ul li input[type='checkbox'] {
		 	display: none; 
		}

		ul li label {
			position: 		relative;
			display: 		block;
			line-height: 	inherit;
			height: 		inherit;
			cursor: 		pointer;
		}

		ul li ul li label {
			line-height: 	1.5;
			height: 		3.33rem;
		}

		/*<-----*/
		ul li:hover label {
			background-color: $menu-top-activeparent-bg;

		}

		/*<-----*/
		/*ul li label:hover,*/
		ul li label ~ ul {
			font-size: $h4-font-size;
			font-weight: normal;
			background-color: $menu-top-child-bg; /*$menu-bg-color;*/
			/*color: $menu-top-child-color;*/
		}

		/*ul li label:hover > a,
		ul li:hover > a {
			color:	$openorange-color;
		}*/

		ul li label a {
			display: 		initial;
			line-height: 	inherit;
			height: 		inherit;
		}

		ul li label ~ ul {
			position: absolute;
			height: 0;
			display: none;
			overflow: hidden;
		}

		ul li label:hover ~ ul,
		ul li label ~ ul:hover,
		ul li ul li label:hover ~ ul,
		ul li ul li label ~ ul:hover  {
			height: auto;
			display:block;
			overflow: visible;
			/*min-height:40px;
			max-height:400px;*/
		}

		ul li label:hover ~ ul > li {
			float:	left;
		}

		ul li input[type='checkbox'] ~ label .unchecked {
			display: none;
		}
		ul li input[type='checkbox'] ~ label .checked {
			display: none;
		}
		ul li input[type='checkbox']:checked ~ label .checked {
			display: none;
		}
		ul li input[type='checkbox']:checked ~ label .unchecked {
			display: none;
		}

	}
	
}

.menu.invert {

	li a:hover,
	ul li label:hover {
		background-color: $menu-focus-color-inv;
	}
}

.sidebar .menu.invert {

	/* borders */
	li {
		border-bottom: 1px solid $sidebar-hbd-color-inv;
		&:nth-child(1) {
			border-top: 1px solid $sidebar-hbd-color-inv;
		}
	}
	li ul li {
		border-bottom: none;
		border-top: 1px solid $sidebar-hbd-color-inv;
	}
}

.main-header .menu.invert {

	li a:hover {
		background-color: $menu-bg-color-inv;
	}

	ul li:hover label,
	/*ul li label:hover,*/
	ul li label ~ ul {
		background-color: $menu-bg-color-inv;
	}
}

/* ==================================================================
 *
 * menuSidebar menu subclass
 *
 *
===================================================================== */

.main-footer {

	.menu {

		font-size: .95rem;

		li {
			
			border-top: 1px solid #e9e9e9;

			@include tiny   {  }
			@include mobile {  }
			@include narrow {  }
		}

		li a:hover {

			background-color: #f5f5f5;

			@include tiny   { background-color: #f5f5f5; }
			@include mobile { background-color: #f5f5f5; }
			@include narrow { background-color: #f5f5f5; }
		}

		li a {

			padding-left: 0;
		}

		li > ul a {

			padding-left: 10px;
		}

					/*	{ li a {padding-left: 0 px;} li > ul a {padding-left: 10px;} } */
		@include tiny   { li a {padding-left: 20px;} li > ul a {padding-left: 30px;} }
		@include mobile { li a {padding-left: 20px;} li > ul a {padding-left: 30px;} }
		@include narrow { li a {padding-left: 20px;} li > ul a {padding-left: 30px;} }
		@include wide   {}
		@include wider  {}

	}

}

/* ==================================================================
 *
 * expander temp
 *
 *
===================================================================== */










