/*

<div class="overlay">
	<div class="overlay__under">
		{# ... #}
	</div>
	<div class="overlay__over">
		{# ... #}
	</div>
</div>

*/

.overlay {

	position: relative;

	&__under {

		/*position: absolute;
	    top: 0;*/
	    /*height: inherit;
	    z-index: 99;
	    background: red;
	    opacity: .9;*/
	}

	&__over {
		position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;    
	    z-index: 100;	
	    /*pointer-events: none;*/    
	}

}

.overlay--onhover {

	.overlay {

		&__under {

		}

		&__over {
		    
		    > * {

		    	display: none;
	  			flex-direction: column;
	  		}
		}

		&__over:hover {

			> * {

				display: flex;
			}
		}
	}
}

.overlay--persistant {

	.overlay {

		&__under {

		}

		&__over {
		    
		    > * {

		    	display: flex;
	  			flex-direction: column;
	  		}
		}
	}
}