.pager { /* nav */

	display: inline-block;
	font-size: $pager-font-size;

	&__items { /* ul */

	}
		&__item { /* li */

			float: left;

			> a {

				/*display: 				inline-block;*/ 
				/*padding-left: 			$base-button-pad-horiz;
				padding-right: 			$base-button-pad-horiz;*/
				/*color: 					inherit;*/
				display: 				inline-block; /* height/width only work on a-link if inline-block */

				height:					$base-button-height-big;
				line-height: 			$base-button-height-big;
				width:					$base-button-height;

				text-align: center;

			}

			&:hover {

				background: $base-hover-color;

				> a { 
					
					/*color: 			$openorange-color;*/ 
				}
			}

			&.is-active {

				> a { 
					/*color: 				inherit;*/ 
					text-decoration: 	underline;
				}
			}
		}
	
}

.pager.invert {
	.pager__item:hover {
		background: $base-hover-color-inv;
	}
}