.peekable { /* peekable-contents */

	pointer-events: 	none;

	.peekable-toggle {
		a { pointer-events: visible; }
	}

	/* hide checkbox */
	input[type='checkbox'] {
	 	display: none; 
	}

	.peekable-contents,
	.peekable-header {
		/*display: none;*/
		transition: top 0.25s, opacity 0.25s;
	}

	input[type='checkbox'] ~ label > .peekable-toggle {
		/*display: none;*/
		/*max-height: 700px;*/
	}
	input[type='checkbox']:checked ~ label > .peekable-toggle {
		/*max-height: 0;*/
	}

	input[type='checkbox'] ~ .peekable-header{
		/*display: none;*/
		top: $tbar-height *-1;
		opacity: 1;
		/*max-height: 700px;*/		
	}
	input[type='checkbox']:checked ~ .peekable-header{
		/*max-height: 0;*/
		/*display: inherit;*/
		top: $tbar-height *-2;
		opacity: 0;
	}
	input[type='checkbox'] ~ .peekable-header *{
		pointer-events: none;		
	}
	input[type='checkbox']:checked ~ .peekable-header *{
		pointer-events: initial;		
	}

	input[type='checkbox'] ~ .peekable-contents{
		/*display: none;*/
		top: 0;
		opacity: 0;
		/*max-height: 700px;*/		
	}
	input[type='checkbox']:checked ~ .peekable-contents{
		/*max-height: 0;*/
		/*display: inherit;*/
		top: $tbar-height *-1;
		opacity: 1;
	}
	input[type='checkbox'] ~ .peekable-contents *{
		pointer-events: none;		
	}
	input[type='checkbox']:checked ~ .peekable-contents *{
		pointer-events: initial;		
	}

	input[type='checkbox'] ~ label .unchecked {
		display: inline-block;
	}
	input[type='checkbox'] ~ label .checked {
		display: none;
	}
	input[type='checkbox']:checked ~ label .checked {
		display: inline-block;
	}
	input[type='checkbox']:checked ~ label .unchecked {
		display: none;
	}
	
}


@include ie-10-11-only {
	.peekable {
		.peekable-toggle {

			a { pointer-events: none; }

			.ribbon__segment.right { 		
				pointer-events: auto; 
			}
		}
	}
}