.preloader {
	position: absolute;
	z-index: 1000000;
	width: 50px;
	height: 50px;
	left: 50%;
	top: 50%;
	margin: -25px 0 0 -25px;
	border: 5px solid #f3f3f3;
	border-radius: 50%;
	border-top: 5px solid $openorange-color;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

.preloader-screen {
	z-index:			100000;
	position: 			fixed;
	top:				0;
	left:				0;
	width:				100%;
	height:  			100vh;
	pointer-events:  	none;
}

.preloaded-content {
	display: none;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}