/*$bg-color: 				$base-bg-color;
$bg-color-inv: 			$base-bg-color-inv;*/

$vp-color: 					$viewport-bg-color;
$pg-color: 					$page-bg-color;
$vp-color-inv: 				$viewport-bg-color-inv;
$pg-color-inv: 				$page-bg-color-inv;

.bg {

	&__screen {
		z-index:			1000000000;
		position: 			fixed;
		top:				0;
		left:				0;
		width:				100%;
		height:  			100vh;
		pointer-events:  	none;
	}

	&__layout {
		/*z-index:			10000;*/
		position: 			fixed;
		top:				-10vh;
		left:				0;
		width:				100%;
		pointer-events:  	none;

		background: $vp-color;
	}
		&__page {
			pointer-events:  	none;
			height: 120vh;

			background: $pg-color;
	        /*box-shadow: 8px 0 8px -9px #555, -8px 0 8px -9px #555;*/
	        /*border-right: 1px solid #ddd;
	        border-left: 1px solid #ddd;*/

			@inlude tiny { padding: 0 gutter(13); }
			@include mobile { padding: 0 gutter(13); }
			@include narrow { padding: 0 gutter(13); }
			@include wide { padding: 0 gutter(10); }
			@include wider { padding: 0 gutter(13); }
			@include widest { padding: 0; margin: 0 span(3 of 19 wide); }
			@include full { padding: 0 gutter(19); }
		}
}
			.bg--whitesmoke { background: $whitesmoke-bg-color;}
			.bg--white { background: $white-bg-color; }
			/*.bg--dark { background: $dark-bg-color; }*/
			.bg--lines { /*background: url('../images/hatch2x4.png');*/ }
			.bg--manifesto {
				//background: url('../images/hatch2x4.png');
				@include widest {
					background: $openorange-color;
				}
				@include full {
					background: $openorange-color;
				}
			}


/*.inv-widest { @include widest { background: #111; color: white; } }
.inv-full { @include full { background: #111; color: white; } }*/

.bg.invert {

	.bg {

		&__screen {

		}

		&__layout {

			background: $vp-color-inv;
		}
			&__page {

				background: $pg-color-inv;
				/*box-shadow: 8px 0 8px -6px #000, -8px 0 8px -6px #000;*/
		        /*box-shadow: none;*/

			}

	}
				.bg--whitesmoke { background: $darksmoke-bg-color; }
				.bg--white { background: $dark-bg-color; }
				.bg--lines { background: $darksmoke-bg-color; }
				.bg--manifesto {
					background: $darksmoke-bg-color;
					@include widest {
						background: $openorange-color;
					}
					@include full {
						background: $openorange-color;
					}
				}

}
