/* ==================================================================
 *
 * header
 *
 *
 *
===================================================================== */

/* ==================================================================
## Config
===================================================================== */

$menubar-base-font-size:	1rem;
$menubar-wide-font-size:	.75em;
$menubar-row-height:		$base-row0-height;
$menubar-width:				100%;

/* ==================================================================
## Layout
===================================================================== */

.main-header-wrapper {

	/* clearfix to prevent header region collapse w/out overflow hidden b/c that would clip dropdown menu */
	@include clearfix;

	/*@include layout($susy);*/
	@include layout((
		gutter-position: 	before,
		columns: 			12,
		gutters: 			1,
		global-box-sizing: 	border-box
	));

	/*@include span(full);*/
	padding: 0 gutter(12);

	@include tiny {
		padding-left: gutter(13);
		padding-right: gutter(13); /*($base-row1-height - $base-button-height-big)/2;*/
	}
	@include mobile {
		padding-left: gutter(13);
		padding-right: gutter(13); /*($base-row1-height - $base-button-height-big)/2;*/
	}
	@include narrow {
		padding-left: gutter(13);
		padding-right: gutter(13); /*($base-row1-height - $base-button-height-big)/2;	*/
	}
	@include wide {
		padding-left: gutter(10);
		padding-right: gutter(10); /*($base-row1-height - $base-button-height-big);*/
	}
	@include wider {
		padding-left: gutter(13);
		padding-right: gutter(13); /*($base-row1-height - $base-button-height-big);*/
	}
	@include widest {
		padding: 0; margin: 0 span(3 of 19 wide); /*gutter(19);*/
		/*background: none;*/
	}
	@include full {
		padding: 0 gutter(19);
		/*background: none;*/
	}

}

.main-header { /* card media */

	overflow: visible; /* don't hide dropdown submenu */

	@include widest	{
		padding-left: gutter(13);
		padding-right: gutter(13);
		clear: left;
		float: none;
	}

	font-size: 				$menubar-base-font-size;
	line-height: 			$menubar-row-height;
	height: 				$menubar-row-height;

	@include tiny {
		line-height: 		$base-row1-height;
		height: 			$base-row1-height;
	}
	@include mobile {
		line-height: 		$base-row1-height;
		height: 			$base-row1-height;
	}
	@include narrow {
		line-height: 		$base-row1-height;
		height: 			$base-row1-height;
	}
	@include wide {
		line-height: 		$base-row1-height;
		height: 			$base-row1-height;
	}
	@include wider {
		line-height: 		$base-row1-height;
		height: 			$base-row1-height;
	}
	@include widest {
		/*@include span(isolate 12 at 4 of 18); clear: left;*/
		line-height: 		$base-row1-height;
		height: 			$base-row1-height;
	}
	@include full {
		/*@include span(isolate 12 at 4 of 18); clear: left;*/
		line-height: 		$base-row1-height;
		height: 			$base-row1-height;
	}

	&__left { /* media__content */

		> * {
			float: left;
		}
		> .sitename > a {
			display: inline-block;
		}
	}

	&__right { /* media_imgR */

		> * {
			float: right;
		}
	}

	&__center {

		> nav {
			width: 100%;
			text-align: 				center;
			/*@include span(last 12 of 18);
			clear: right;
			float: right;*/
		}

		> nav > .block {
			display: inline-block;
		}

		/*.menu {*/
			@include tiny { display: none; }
			@include mobile { display: none; }
			@include narrow { display: none; }
			@include wide { display: none; }
			@include wider { display: none; }
			@include widest { display: none; }
			@include full {}

		/*}	*/
	}
}


/* ==================================================================
## Debug
===================================================================== */

/*.menubar {

	border: 1px solid red;

	&__header 		{	background: #f5f5f5;	}
	&__primary		{	background: #e5e5e5;	}
	&__secondary 	{	background: lightgrey;	}

}*/
