/* ==================================================================
 *
 * Layout: 
 *
 * This concens highest-level layout of main and sidebar on 12 col grid
 * also includes menubar
 *
 *
===================================================================== */


/* ==================================================================
## Grid
===================================================================== */
/*

$susy: (
  flow: rtl | ltr*
  	ltr - Layout elements will flow from left to right.
  	rtl - Layout elements will flow from right to left.
  math: fluid* | static
  	fluid - grid spans will be calculated relative to the container, and output as % values.
  	static - grid values will be calculated as multiples of the column-width setting.
  output: float | isolate
  gutter-position: after,
  container: auto,
  container-position: center,
  columns: 4,
  gutters: .25,
  column-width: false,
  global-box-sizing: content-box,
  last-flow: to,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);

*/

/* GLOBAL SUSY SETTINGS */

$susy: (
  /*flow: ltr,*/
  /*math: fluid,*/
  output: float,
  gutter-position: before,
  /*container: auto,*/
  /*container-position: center,*/
  columns: 13, /*4,*/
  gutters: 1/2, /*1/8 36/8 3/8,*/
  /*column-width: false,*/
  global-box-sizing: border-box
  /*last-flow: to,*/
  /*debug: (
    image: show-columns,
    color: rgba(#AEEFF2, .5),
    output: overlay,
    toggle: bottom right,
  )*/
  /*use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )*/
);




/* ==================================================================
## Grid
===================================================================== */

/* wrapper for all page content */
.container {
	height:100%; /* req for flexbox, ie sticky footer */

	/*position: relative;*/

	@include container;

	/*max-width:1200px;*/

}

/* wrapper for menubar regions */
.sidebar-layout {

	z-index:		100000;
	position:		fixed;
	top:			0;
	left:			0;
	width:			25%; /* fallback */
	height: 		100%;

	/*max-width:		240px;*/ /* .2 x 1200 */

	/*@include widest { display: none; }
	@include full { display: none; }*/
}


/* wrapper for menubar regions */
.main-header-layout {

	z-index:			10000;
	position: 			fixed;
	top:				0;
	left:				0;
	margin-left: 		0%; /* fallback */
	width:				100%; /* fallback */

	/* unfix header */
	/*@include wider { position: relative; }*/

	/*border-bottom: 		1px solid $header-bd-color;*/
}


/* wrapper for content regions */
.main-content-layout {

	/* flex main to fill vertical space for sticky footer
		also requires main-wrapper to have flex:1 and html, body, container 
		heights set to 100%; */
	min-height: 100%;
	display: flex;
  	flex-direction: column;

	position: relative; /* nec?? */
	margin-left: 0%; /* fallback */
	width:	100%; /* fallback */

	/*max-width:			1200px;*/ /* .8 x 1200 */

}


	#main-content-slideshow{

		/*@include layout($susy);*/
		/*@include layout((
			gutter-position: inside,
			columns: 4,
			gutters: 3/8,
			global-box-sizing: border-box
		));

		.slides {
			@include span(4);
			
		}

		.slide-controls{
			@include span(4);
		}*/

	}

	#main-content-primary{

		/*@include layout($susy);*/
		/*@include layout((
			gutter-position: inside,
			columns: 4,
			gutters: 3/8,
			global-box-sizing: border-box
		));

		@include span(4);*/
	}

	#main-content-primary {

		.card, .statement {
			
		}

		/* recent news temp overrides */
		#block-open-scratch-views-block-recent-news-block-1{ 
			
			border-top: 1px solid grey;

			.views-row {
				border-top: none;
			}
		}

	}

	/* adsf */
	#main-content-relations{

		

		/*@include layout($susy);*/
		/*@include layout((
			gutter-position: inside,
			columns: 4,
			gutters: 3/8,
			global-box-sizing: border-box
		));

		@include span(4);*/
		@include clearfix;

		.block{
			/*padding: 14px 0;*/
			/*border-top: 1px solid #666;*/	

		}	

	}


	#main-content-facts{

		/*@include layout($susy);*/
		/*@include layout((
			gutter-position: inside,
			columns: 4,
			gutters: 3/8,
			global-box-sizing: border-box
		));

		@include span(4);*/
		@include clearfix;

		.region{
			border-top: 1px solid #e5e5e5;	
		}	

	}

	#main-content-gallery{

		@include clearfix;

		@include layout((
			gutter-position: inside,
			columns: 4,
			gutters: 3/8,
			global-box-sizing: border-box
		));

		.region {
			@include span(4);		
		}
		
		.gallery-list{

			@include clearfix;
			@include layout((
				gutter-position: before,
				columns: 4,
				gutters: 3/16,
				global-box-sizing: border-box
			));

		}

		.gallery-list-item{

			@include gallery(2 of 4);
			margin-bottom: gutter(4);
		}
	}


	




