/* ==================================================================
 *
 * 								Slideshow
 *
===================================================================== */
 
/* ==================================================================
## Config
===================================================================== */

$slideshow-base-font-size:		1rem;
$slide-titlebar-font-size: 		0.7em;
$slide-titlebar-height:			3.25em; /*$base-row-height;*/
$slide-titlebar-font-color: 	$lighter-font-color;

/* ==================================================================
## Layout
===================================================================== */

.slideshow {

	&__slides {

	}
	
	/*jssor css*/

	/*.views_slideshow_cycle_main {width:100%; float:left;}
	.views_slideshow_cycle_teaser_section {  width:100% !important; height: auto !important; }
	.views_slideshow_cycle_slide {  width:100% !important; height: auto !important;  }*/

	.views-slideshow-main-frame,
	.views-slideshow-main-frame-row,
	.views-slideshow-main-frame-row img { width:100% !important; height: auto; }

	.views_slideshow_cycle_main {
	  width: 100%;
	  float: left;
	}
	.views_slideshow_cycle_main .views-slideshow-cycle-main-frame {
	  width: 100% !important;
	  height: auto;
	}
	.views_slideshow_cycle_main .views-slideshow-cycle-main-frame-row {
	  width: 100% !important;
	  height: auto;
	}
	.views_slideshow_cycle_main .field-content {
	  max-width: 100%;
	  width: 100%;
	}
	.views_slideshow_cycle_main .field-content img {
	  max-width: 100%;
	  width: 100%;
	  height: auto;
	  margin: 0;
	  padding: 0;
	}


	&__slide{
		  width:100% !important; height: auto; 
	}

		&__image > img{

			width:100%;
			height:auto;
		}

		&__titlebar { /*.titlebar*/

			@include clearfix;

   			@include layout((
		        gutter-position: 	before,
		        columns: 			8,
		        gutters: 			3/8,
		        global-box-sizing: 	border-box
			));
		}

			&__title { /*.title*/
				width: 	span(7 of 8);
				float:	left;
			}

			&__icon{ /*.icon*/
				width: 	span(1 of 8);
				float:	right;
			}

}


/* ==================================================================
## Type
===================================================================== */

.slideshow {

}

	.flexslider {

	}

		.slides { /* ul */

		}

			.slide{ /* li > .slide */

				.views-field{			/* shame */
					margin: 0;
				}

				&__image {}

				&__caption { 			/*.titlebar*/

					/*color: white;*/

					a:before { content:"\2191\00a0\00a0\00a0"; }
					/*a:after { content:"\00a0"; }*/

					.label { padding: 0 .5rem; }

					@include tiny {display: none;}
					@include mobile {display: none;}
				}
			}

.slideshow.slideshow--fullscreen {

	overflow: visible;
	position: relative;

	.slide__image img {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		min-height: 100%;
	}

	.slide__caption {
		position: fixed;
		bottom: 0;
		left: 0;
	}
}

.slideshow.slideshow--fitscreen {

	.flexslider {
		position: fixed;
	    top: 50%;
	    transform: translateY(-50%);
	}
}

		/*&__title {		
			
		}

		&__title > a, 
		&__title > a:link, 
		&__title > a:visited {
			display:		block;
			font-size: 		$slide-titlebar-font-size;
			color: 			$slide-titlebar-font-color;
			height: 		$slide-titlebar-height;
			line-height: 	$slide-titlebar-height;
		}


		&__icon {		
			&:hover {
				background:	#e8e8e8;
			}
		}

		&__icon > a {
			display:		block;
			height: 		$slide-titlebar-height;
			line-height: 	$slide-titlebar-height;
		}

		.slide-controls{
			height: 		$slide-titlebar-height;
		}

		.slide-controls span{
			line-height: 	$slide-titlebar-height;
		}*/




/* ==================================================================
## Debug
===================================================================== */

/*.slideshow {

	&__slide{			border: 1px solid red;
	}	
		&__image { 		background: lightgrey;	
		}
		&__titlebar { 	background: #e5e5e5;	
		}
			&__title {	background: grey;
			}
			&__icon {	background: darkgrey;
			}
}*/