
/* =======================================================================
## ++ Unit transform
========================================================================== */

/*  
    Used for making containers have width in percentages. 
    Usage: define elemnt width in px and the width of parent elemnt in px. 
    eg. .block{width:cp(512px, 1024px)} this will result in .block{width:50%;}   
*/

@function cp($target, $container) {
    @return ($target / $container) * 100%;
}

/*  
    Used for making px values convert to rem values
    Usage: define font-size in px and it will convert to rems
    eg. font-size: rem(14px);
*/

@function rem($target, $context: $base-font-size) {
   @if $target == 0 { @return 0 }
   @return $target / $context + 0rem;
}
$base-font-size:16px;



/* =======================================================================
## ++ Grid old? who uses this?
========================================================================== */

@mixin grid-minor-4col {

    @include clearfix;
    @include layout((
        gutter-position: before,
        columns: 4,
        gutters: 3/16,
        global-box-sizing: border-box
    ));

}

/* =======================================================================
## ++ Grid new
========================================================================== */

$grid-4col: (
    gutter-position: inside,
    columns: 4,
    gutters: 3/8,
    global-box-sizing: border-box
);



