/* ==================================================================
## defaults
===================================================================== */
$background-color: #fff;



/*$base-font-family: Helvetica, Arial, sans-serif;*/
/*$base-font-family: 'Raleway', sans-serif;*/
$base-font-family: 'Work Sans', sans-serif;
/*$base-font-family: 'Catamaran', sans-serif;*/

$searchbar-font-family: monospace, sans-serif;


/* ==================================================================
## Colors
===================================================================== */

/* colors */
$openorange-color: 			#eb6100;

$base-bg-color:				white;
$base-bg-color-inv: 		#151515;
$white-bg-color:			$base-bg-color;
$dark-bg-color:				$base-bg-color-inv;
$whitesmoke-bg-color: 		#f7f7f7;
$darksmoke-bg-color:		#1d1d1d;
$vltgrey-bg-color: 			#eee;
$vdarkgrey-bg-color: 		#252525;
$ltgrey-bg-color: 			#ddd;
$darkgrey-bg-color: 		#333;

/* bg colors */
$viewport-bg-color:			$ltgrey-bg-color;
$page-bg-color:				$base-bg-color;
$viewport-bg-color-inv:		#000;
$page-bg-color-inv:			$base-bg-color-inv;

/* hover background colors */
$base-hover-color:			$whitesmoke-bg-color;
$base-hover-color-inv:		$darksmoke-bg-color;
$btn-hover-color:			#f5f5f5;
$btn-hover-color-inv:		$base-hover-color-inv;

/* focus background colors */
$base-focus-color:			$whitesmoke-bg-color;
$base-focus-color-inv:		$darksmoke-bg-color;
$blk-focus-color:			$base-focus-color;
$blk-focus-color-inv:		$base-focus-color-inv;
$table-row-focus-color:		$base-focus-color;
$table-row-focus-color-inv:	$base-focus-color-inv;
$btn-focus-color:			#f3f3f3;
$btn-focus-color-inv:		#222;
$btn-focus-hover-color:		$vltgrey-bg-color;
$btn-focus-hover-color-inv:	$vdarkgrey-bg-color;
$link-focus-color:			#ccc;
$link-focus-color-inv:		inherit;

/* font colors */
$base-font-color: 			#333;
$base-font-color-inv: 		#f5f5f5; 
$lighter-font-color:		#555;
$lighter-font-color-inv:	#ccc;
$darker-font-color:			#111;
$darker-font-color-inv:		#f9f9f9;

/* font colors - only two to make inversion simple */
$body-font-color:			$lighter-font-color;
$body-font-color-inv:		$lighter-font-color-inv;
$title-font-color: 			$darker-font-color;
$title-font-color-inv: 		$darker-font-color-inv;
$tag-font-color: 			$darker-font-color;
$tag-font-color-inv: 		$darker-font-color-inv;
/*$link-font-color:			inherit;*/
$link-hover-color:			$openorange-color;

/* border colors */
$base-bd-color: 			#ccc;
$base-bd-color-inv:			#555;
$lighter-bd-color:			#ddd;
$lighter-bd-color-inv:		#333;
$darker-bd-color:			#333;
$darker-bd-color-inv:		#ddd;
$hairline-bd-color:			whitesmoke;
$hairline-bd-color-inv:		#222;
$blk-bd-color: 				black; /*$darker-bd-color;*/
$blk-bd-color-inv: 			white; /*$darker-bd-color-inv;*/

$def-bd-color: 				$base-bd-color;
$def-bd-color-inv: 			$base-bd-color-inv;
$sidebar-vbd-color: 		$base-bd-color;
$sidebar-vbd-color-inv: 	$base-bd-color-inv;
$sidebar-hbd-color:			$hairline-bd-color;
$sidebar-hbd-color-inv:		$hairline-bd-color-inv;
$header-bd-color: 			$lighter-bd-color;
$header-bd-color-inv: 		$lighter-bd-color-inv;			
$tbl-bd-color: 				$base-bd-color; /*$lighter-bd-color;*/
$tbl-bd-color-inv: 			$base-bd-color-inv; /*$lighter-bd-color-inv;*/
$tbar-bd-color:				$base-bd-color; /*$lighter-bd-color;*/
$tbar-bd-color-inv:			$base-bd-color-inv; /*$lighter-bd-color-inv;*/

/* ==================================================================
## Fonts Size
===================================================================== */

/* root font sizes */
$root-font-size: 			16px;
$root-font-size-tiny: 		13px;
$root-font-size-mobile: 	14px;
$root-font-size-narrow: 	14px;
$root-font-size-wide: 		14px;
$root-font-size-wider: 		15px;
$root-font-size-widest: 	15px;
$root-font-size-full: 		17px;

/* base font-size */
$base-font-size: 			0.9rem;

/* header font sizes */
$h1-font-size:				1.5rem; 	/*  2.1rem;  */ /*	5/3 	node titles 		*/	/*	6.25/3 	node title			*/
$h2-font-size:				1.25rem; 	/*  Secondary titles: "recent news", "open architecture", "open manifesto", peoples names, titles */
$h3-font-size:				1.0rem; 	/*  recent news headlines, "people", videos video title  */
										/*	3.75/3 = 1.25 but little too big for underlined caps - secondary titles 	*/
$h4-font-size:				0.9rem; 	/*	2.5/3 	tags, factsheet headers & headlines	*/
$h5-font-size:				0.85rem; 	/*	2.5/3 	factsheet multiline headers (ie. roles)		*/
$h6-font-size:				0.85rem; 	/*	2.5/3 	caption, facts, footer, under video title	*/
$h7-font-size:				0.75rem;	/*  3.75/5  menus and tables */

/* body font sizes */
$body-font-size:			$base-font-size;
$bd-def-font-size:			$body-font-size;	/* recent news, about us */	
$bd-big-font-size-plus:		1.25rem;
$bd-big-font-size:			1.15rem;	/* manifesto */
$bd-big-font-size-minus: 	1.0rem;
$bd-sml-font-size:			0.85rem;	/* peoples bios

/* table font sizes */
$tbl-font-size:				$h5-font-size;
$tbl-font-size-minus:		$h7-font-size;
$tbl-font-size-plus:		$h4-font-size;
$pager-font-size:			$h5-font-size;		

/* menu */
$menu-font-size:			$h3-font-size;	

/* tags */
$tag-font-size:				$h4-font-size;
/*$tag-font-size-sml:			$h6-font-size;*/ /* under video title */

/* toolbar font size */
$tbar-font-size:			$h5-font-size;	

/* language switcher font sizes */
$lang-fz-en: 				$h6-font-size;
$lang-fz-cn:				$h7-font-size;

/* ==================================================================
## Fonts Line Heights
===================================================================== */
$base-line-height: 1.5;
$base-line-height-more: 1.75;
$base-line-height-less: 1.25;
$base-line-height-title: 1.25; /* 1.25 x 3 = 3.75 */
$base-line-height-single: 1;
$base-line-height-dbl: 2;

$sitename-line-height: 16px;
$pagetitle-line-height: base-line-height;
$blocktitle-line-height: base-line-height;
$table-title-line-height: 12px;
$title-line-height: 12px;

$events-headline-line-height: 11px;

$ts-line-height: 7px;
$manifesto-line-height: 1.5;
$info-line-height: 14px;

$slide-caption-line-height: $base-line-height;

$manifesto-title-line-height: $base-line-height-title;

/* ==================================================================
## Vertical Spacing
===================================================================== */

$base-row0-height: 		6.25rem; /* Site Header */
$base-row1-height: 		5.0rem; /* Site Header */
$base-row2-height: 		3.75rem; /* Card Headers/Footers */ /* (16px x .7em) x 3.75 = 42px; */
$base-row3-height: 		2.5rem; /* Table Rows, menu rows */
$base-row4-height:		2.0rem; /* Compress tables @full */
$base-button-height:	2.5rem; /* Icons, Tags, Buttons */
$base-button-height-sml: 2.0rem; /* Icons, Tags, Buttons */
$base-button-height-big: 3.75rem;
$base-button-height-smlr: 1.75rem; /* Inline buttons (ie coverage) */
$base-icon-height:		1rem; /* Icons, Tags, Buttons */
$base-spacing: 			1.25rem;
$base-spacing-sml: 		0.83rem; /* 2.5/3 */
$base-spacing-big: 		1.5rem;	 /* 5/3 */
$base-spacing-huge: 	1.67rem; /* 1.66 + .84 = 2.5! */

$tbar-height:			$base-row1-height;		

/* ==================================================================
## Horiz Spacing
===================================================================== */

$base-horiz-nudge: 		$base-spacing * 0.25;	/* .3rem ~ 5px, was 4px ~ .25em */
$base-horiz-pad: 		$base-spacing * 0.5; 	/* .625rem ~ 10px, was 8px ~ .5em */
$base-horiz-step:		$base-spacing; 			/* 1.25rem ~ 20px, was 16px 1em */

/* degraded */
$base-pad-horiz: 		$base-horiz-nudge;
$base-spacing-horiz: 	$base-horiz-pad;
$base-button-pad:		$base-horiz-step;

$base-spacing-vert: $base-spacing;
$base-row-height: $base-row3-height;
$base-row-pad: 1.5em; /*1rem; *//*16px;*/
$base-elem-spacing: 1rem; /*16px;*/ /*this should be rem not em AND should be susy calculated gallery gutter*/

/* ==================================================================
## Titles
===================================================================== */

$base-title-height:	$base-row-height;
$base-title-spacing: 1.5rem;

/* ==================================================================
## Buttons (icons, tags, dropdowns)
===================================================================== */

$base-button-pad-horiz:		$base-horiz-pad;
$base-button-spacing:		$base-horiz-nudge;

/* ==================================================================
## Table
===================================================================== */

$table-row-height: $base-row3-height;
$table-col1-width: 20%;
$table-col2-width: 70%;
$table-col3-width: 10%;

/* ==================================================================
## Grid
===================================================================== */

$total-cols             : 4;  
$col-width              : 162px;  
$gutter-width           : 40px;  
$side-gutter-width      : $gutter-width; 

/* ==================================================================
## Sitename logo size
===================================================================== */

$logo-height-tiny: 		20px;
$logo-height-mobile:	25px;
$logo-height-narrow:	30px;
$logo-height-wide:		30px;
$logo-height-wider:		32px;
$logo-height-widest:	30px;
$logo-height-full:		34px;